*{
    margin: 0;
    padding: 0;
}

/* ----------header starts--------- */
.header{
    background-color: #0a0b27;
}
.header-content{
    color: white !important;
    font-size: 17px !important;
    padding-right: 20px !important;
    transition:0.5s !important;
    font-family: "merivaregular";
    
}
.header-content:hover{
    color: #e53f27 !important;
}



.dropdown button{
    border: none;
}

.dropdown{
    position: relative !important;
    padding-top: 3px;
}

.dropdown-menu{
background-color: #e53f27 !important;
border-bottom:4px solid #0a0b27 !important;
border-radius: 0 !important;
margin: 12px !important;
position: absolute !important;
}

.dropdown-menu a{
    color: white !important;
    background-color: #e53f27 !important;
    transition:0.5s !important;
}

.dropdown-menu a:hover{
    color:#0a0b27 !important;
}

.dropdown:hover .dropdown-menu{
    display: block !important;
}
/* ----------header ends--------- */

/* -----------section strats----------- */
.para{
    font-family: "merivaregular";
    font-size: 24px;
    padding: 100px;
}
.smoodh{
    background-color: rgb(47, 193, 222);
   
}
/* -----------section ends------------ */

/* ------------footer starts------------ */
.footer1{
    text-decoration: none;
    color: #0a0b27;
    font-weight: 700;
}

.footer1:hover {
    color: orangered !important;
}
.f-last{
    padding: 20px;
    font-size: 14px;
}

.social-icons{
    font-size: 25px;
}
/* -----------footer ends--------- */